[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-login = "*"
flask-mail = "*"
requests = "*"
oauthlib = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-jwt-extended = "==4.4.4"
PyJWT = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.8"
